<div class="card justify-content-center" >
  <div class="card-header text-center">
    <div>
      <%= @student.full_name %>(<%= @student.gakunen_grade %>)さんの授業履歴
    </div>
  </div>
  <div class="card-body text-center">
    <div class="return-table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="table-info">
            <th scope="col" class="text-nowrap">授業日</th>
            <th scope="col" class="text-nowrap">担当講師</th>
            <th scope="col" class="text-nowrap">科目</th>
            <th scope="col" class="text-nowrap">教科書</th>
            <th scope="col" class="text-nowrap">単元</th>
            <th scope="col" class="text-nowrap">ファイル詳細</th>
            <th scope="col" class="text-nowrap">備考</th>
            <th scope="col" class="text-nowrap">備考追記</th>
          </tr>
        </thead>
        <tbody class="lesson-logs-index">
          <% @lessons.each do |lesson| %>
            <tr>
              <td class="text-nowrap"><%= lesson.lesson_date.strftime('%m月%d日') %></td>
              <td class="text-nowrap"><%= lesson.teacher.full_name %></td>
              <td class="text-nowrap"><%= lesson.subject %></td>
              <td class="text-nowrap"><%= lesson.teaching_material %></td>
              <td class="text-nowrap"><%= lesson.unit %></td>
              <td class="text-nowrap"><%= link_to "詳細", teacher_report_path(lesson.teacher,lesson)%></td>
              <td class="text-nowrap"><%= lesson.lesson_log.remarks%></td>
              <td class="text-nowrap">
                <% if lesson.teacher == current_teacher%>
                  <%= link_to "備考欄追記", edit_student_lesson_log_path(@student, lesson)%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>