<div class="row">
  <div class="card col-sm-6 offset-sm-3">
    <div class="card-header bg-secondary text-white">
      生徒としてログイン
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :次回から自動的にログイン %>
          </div>
        <% end %>
      
        <div class="actions pb-3">
          <%= f.submit "ログイン", class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
    <%= render "students/shared/links" %>
  </div>
</div>

