<div class="card offset-sm-2 col-sm-8">
  
  <div class="card-header row text-center">
    <div class="col-md-6" >
      <div>担当講師</div>
      <div style="font-size:20px;"><%= @report.lesson.teacher.full_name %></div>
    </div>
    <div class=" col-md-6">
      <div>授業日</div>
      <div><%= @report.lesson.lesson_date %></div>
    </div>
  </div>
  
  <div class="card-body">
    
    <div class="row p-2">
      <div class="col col-12 col-md-6">
        <a>生徒名</a>
        <div class="p-3 border bg-light"><%= @report.lesson.student.full_name %></div>
      </div>
      <div class="col col-6 col-md-3">
        <a>学年</a>
        <div class="p-3 border bg-light"><%= @report.lesson.student.gakunen_grade %></div>
      </div>
      <div class="col col-6 col-md-3">
        <a>科目</a>
        <div class="p-3 border bg-light"><%= @report.lesson.subject %></div>
      </div>
    </div>
    <div class="row p-2">
      <div class="col-md-6">
        <a>教材</a>
        <div class="p-3 border bg-light"><%= @report.lesson.teaching_material %></div>
      </div>
      <div class="col-md-6">
        <a>単元</a>
        <div class="p-3 border bg-light"><%= @report.lesson.unit %></div>
      </div>
    </div>
    
    <div class="p-2">
      <a>授業内容</a>
      <div class="p-3 border bg-light">
        <%=  safe_join(@report.content.split("\n"), tag(:br)) %>
      </div>
    </div>
    
    <div class="p-2">
      <a>演習</a>
      <div class="p-3 border bg-light">
        <%= @report.exercise %>
      </div>
    </div>
    
    <div class="row p-2">
      <p class="col-12 text-muted">理解度および態度は1〜5の5段階で評価しております。3を基準とし、５に近づくほどよいとしています。また宿題を忘れた場合は、宿題の理解度は0としております。</p>
      <div class="col col-md-6">
        <a>学習理解度</a>
        <div class="p-3 border bg-light"><%= @report.comprehension_lesson%></div>
      </div>
      <div class="col col-md-6">
        <a>学習態度</a>
        <div class="p-3 border bg-light"><%= @report.attitude %></div>
      </div>
    </div>
    
    <div class="row p-2">
      <div class="col col-md-6">
        <a>前回の宿題</a>
        <div class="p-3 border bg-light"><%= @report.done_homework%></div>
      </div>
      <div class="col col-md-6">
        <a>その理解度</a>
        <div class="p-3 border bg-light"><%= @report.comprehension_homework %></div>
      </div>
    </div>
    
    <div class="p-2">
      <a>宿題</a>
      <div class="p-2 text-muted">宿題はコツコツと進めましょう。１週間のうち1日だけやっても自分の力にはなりません</div>
      <div class="p-3 border bg-light">
        <%= @report.homework %>
      </div>
    </div>
  </div>
  
  <div class="card-footer">
    <ul class="nav justify-content-center">
      <li class="nav-link">
        <%= link_to '一覧へ戻る', student_reports_path(current_student) %>
      </li>
    </ul>
  </div>
</div>

  
  
