<%= stylesheet_link_tag "question_button", :media => "screen and (min-width:960px)" %>



<div class="modal fade" id="questionModal" tabindex="-1" role="dialog" aria-labelledby="questionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="questionModalLabel">新規投稿</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@question, :url => {:controller => "students/questions", :action => :create} , remote: true) do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :content, '質問内容' %>
            <%= f.text_area :content, class: "form-control"%>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <%= f.submit '投稿' , class: "btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 mt-3 mb-3">
    <button type="button" class="btn btn-info new-question-button" data-toggle="modal" data-target="#questionModal">
      質問を投稿する
    </button>
  </div>
  <div class="col-lg-6" id="question-index">
    <h5 class="pt-2 text-center">質問一覧</h5>
    <%= render "./questions/index", questions: @questions%>
  </div>
</div>


