<% if current_teacher.id == @teacher.id %>
  <h1><%= @teacher.last_name %>先生のマイページ</h1>
<% else %>
  <h1><%= @teacher.last_name %>先生の詳細ページ</h1>
<% end %>


  

<% if current_teacher.id == @teacher.id %>
  <%= link_to "生徒用ファイル", teacher_reports_path(current_teacher) %><br />
  <%= link_to "講師情報の編集", profile_edit_path %><br />
  <%= link_to "logout", destroy_teacher_session_path, method: :delete %>
<% else %>
  <a href="#">代行依頼をする</a>
<% end %>
