<div class="card text-center">
  <div class="card-header">
    <div>Teacher</div>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle text-muted pt-3">My name</h6>
    <h5 class="card-title"><%= current_teacher.full_name %></h5>
    <p class="card-text">今日もお疲れ様です。授業後は生徒用ファイルの記入をしてください。講師情報に誤りある場合は修正してください。</p>
    <div class="list-group">
      <%= link_to "生徒用ファイル", teacher_reports_path(current_teacher), class:"btn btn-info list-group-item list-group-item-action" %>
      <%= link_to "講師情報の修正", teachers_profile_edit_path, class:"btn btn-info list-group-item list-group-item-action" %>
      <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete, class:"btn btn-info list-group-item list-group-item-action"%>
      <%= link_to "質問一覧", questions_path, class:"btn btn-info list-group-item list-group-item-action"%>
    </div>
  </div>
</div>