<div class="row">
  <div class="card col-sm-6 offset-sm-3">
    <div class="card-header bg-secondary text-white">
      生徒としてアカウント登録
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "teachers/shared/error_messages", resource: resource %>
        
        <div class="field form-group">
          <%= f.label :姓 %><br />
          <%= f.text_field :last_name %> 
        </div>
        
        <div class="field form-group">
          <%= f.label :名 %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>
        
        <div class="field form-group ">
          <%= f.label :学年 %><br />
          <%= f.select :grade, [["小３",1],["小４",2],["小5",3],["小6",4],["中1",5],["中2",6],["中3",7],["高1",8],["高2",9],["高3",10]], include_blank: "選択して下さい"%>
        </div>
        
        <div class="field form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.text_field :email, autocomplete: "email"%>
        </div>
      
        <div class="field form-group">
          <%= f.label :パスワード%>
          <% if @minimum_password_length %>
          <em>(最低<%= @minimum_password_length %>文字で入力してください)</em>
          <% end %><br />
          <%= f.text_field :password, autocomplete: "new-password"%>
        </div>
      
        <div class="field form-group">
          <%= f.label :確認用パスワード %><br />
          <%= f.text_field :password_confirmation, autocomplete: "new-password"%>
        </div>
        
        <div class="actions pb-3"> 
          <%= f.submit "アカウント登録", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= render "students/shared/links" %>
    </div>
  </div>
</div>

