<h2>生徒としてアカウント登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "students/shared/error_messages", resource: resource %>
  
  <div class="field">
    <%= f.label :姓 %><br />
    <%= f.text_field :last_name, autofocus: true %> 
  </div>
  
  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name,%>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.text_field :email, autocomplete: "email" %>
  </div>

  div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(最低<%= @minimum_password_length %>文字で入力してください)</em>
    <% end %><br />
    <%= f.text_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :確認用パスワード %><br />
    <%= f.text_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
